html,body{margin:0; padding:0;}
* {box-sizing: border-box;}
img {max-width: 100%;}

body {
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	background-color: #FFFFFF;
	}

h1 {
	margin: 25px 0; / 
	font-size: 3em;
	line-height: 1.5em;
	font-family: Georgia;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #8E0B00;
	text-align: center;
	}

.wrap {
	margin: auto;
	max-width: 1000px;
	}

.class1 {
	float: left;
	width: 33.3333333%;
	padding: 15px;
	position: relative;
	}

.thumb1 {
	padding: 4px;
	border: 1px solid #ddd;
	cursor: pointer;
	}

.thumb1 img {
	vertical-align: middle;
	opacity: 1;
	transition: opacity 0.5s linear, max-width 1s linear;
	}

.thumb1:hover img {
	transform: scale(1.2);
	opacity: 0.5;
	max-width: 120%;
	}

