* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

a {
    color: #000;
    transition: all 0.4s ease;
}

a:hover {
    text-decoration: none;
    color: #508690!important;

}

/*header*/
.topbanner {
    background-color: #508690;
}

.topbanner p{
    text-align: center;
    color: white;
}

.logo {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.logo1 {
    font-size: 40px;
}

.brand {
    width: 20%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.brand p {
    text-align: center;
}

.search {
    padding-top: 100px;
    padding-left: 15%;
    border-color: black;
    width: 50%;
}
.search-form input {
    width: 300px;
    border: solid 1px #ccc;
    padding: 3px 0 3px 10px;
    font-size: 14px;    
}

.search-form button {
    background: #fff;
    border: solid 1px #ccc;
    font-size: 14px;
    padding: 3px 8px;
    color: #333;
}

.register {
    padding-top: 70px;
    width: 25%;
    text-align: center;
}

.register img {
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: white;
}
/*end header*/

/*navbar*/
.navbar {
    top: 80px;
    background-color: #FA7268!important;
    position: static !important;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    color: white!important;
    margin-left: 20px!important;
    margin-right: 20px!important;
}
/*end navbar*/

/*breadcrumb*/
.breadcrumb {
	background-color: white!important;
	padding-top: 80px !important;
}
/*end breadcrum*/

/*content*/
.contact-main {
    background: #fff;
    margin: 80px 0;
}

@media (min-width: 768px)
.map-wrap {
    float: right;
}

@media (min-width: 1200px)
.col-lg-9 {
    width: 75%;
}

.contact {
    display: table;
    padding: 20px 0;
}

.contact-icon {
    width: 50px;
    position: relative;
}

.contact-icon, .contact-content {
    display: table-cell;
}

.contact-icon .fa {
    font-size: 24px;
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #508690;
}

.contact-content {
    padding-left: 15px;
}

.contact-content h3 {
    margin-top: 0;
    font-size: 20px;
    color: #508690;
    padding-bottom: 15px;
}

.contact-wrap p {
	font-size: 15px;
}

.contact-main {
	border: solid 1px #e7e7e7;
	border-radius: 1rem;
}

.contact-main + .respond-wrap {
    background: #fff;
    padding: 10px 30px 50px;
    margin-bottom: 80px;
}

.section-title {
    text-align: center;
    margin: 40px 0 30px;
}

.section-title h2 {
    padding: 0 18px;
    display: inline-block;
    text-transform: uppercase;
    border-left: solid 4px #336699;
    border-right: solid 4px #336699;
    line-height: 0.8;
    font-weight: 600;
    color: #508690;
}

.comment-form input[type="text"], .comment-form textarea {
    border: 1px solid #e7e7e7;
    background: #f8f8f8;
    color: #666666;
    margin-bottom: 10px;
    padding: 10px 20px;
    line-height: 22px;
    font-size: 16px;
    width: 100%;
}

.comment-form textarea {
    padding: 15px 20px;
}

.comment-form .submit-wrap {
    text-align: center;
}

.comment-form {
    margin: 40px 0 0;
}

.comment-form input {
	border-radius: 5rem;
}

.comment-form-comment textarea {
	border-radius: 1rem;
}

.comment-form input.submit {
    background: none;
    border: 0;
    padding: 0;
    text-transform: uppercase;
}

.more {
padding-left: 80%;
}

.more button {
    border-radius: 5rem;
    width: 200px;
    background-color: #508690;
}
/*end content*/

/*backtotop*/
.back-top {
    font-size: 32px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #508690;
    color: #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 100;
    display: none;
    border-radius: 50%;
}
/*end backtotop*/

/*footer*/
footer#colophon {
    padding-top: 30px !important;
    padding-bottom: 0;
    background: #508690 !important;
}

.site-footer, .site-footer a {
    color: #1c1c1c;
    line-height: 35px;
    padding: 15px 0;
    
}

.bgshy {
	margin-left: auto;
    margin-right: auto;
}

.bgshy *, .bgshy a {
    color: white !important;
}

.bgshy h3 {
    text-transform: uppercase;
    color: #fff !IMPORTANT;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 24px;
}

footer p {
    margin-bottom: 5px;
}

p {
    margin: 0 0 10px;
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

.logo-footer img {
	max-width: 130px;
}

.wp-slider {
	width: 800px;
	margin: 0px auto;
}

.facebook {
	margin-bottom: 20px;
}
/*end footer*/
